flask
chromadb
sentence-transformers
PyPDF2
python-dotenv
rank-bm25
python-docx
openpyxl
groq
duckduckgo-search
requests
beautifulsoup4
numpy
pandas
requests
langchain
langchain-community
langchain-groq
unstructured
python-magic-bin
pypdf